* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(51, 49, 49);
    color: white;
}

body {
    margin: 0%;
}

.Title {
    text-align: center;
}

.Title-main {
    margin-bottom: 0%;
}

.Title-sub {
    margin-top: 0%;
    padding-top: 0%;
}

.About h2 {
    margin-top: 0%;
}

.Group-title {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: 0%;
    margin-right: 0%;
}

.Group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
}

.Portfolio .Group {
    margin-top: 1%;
    margin-bottom: 1%;
}

.Content-title {
    padding: 0;
    margin: 0;
    margin-left: 2%;
}

.Content {
    max-width: 40%;
}

.Content-text {
    padding: 0;
    margin: 0;
    margin-left: 2%;
}

.Paragraph p {
    padding: 0;
    margin: 0;
}


.Picture {
    height: 400px;
    width: 400px;
}








