* {
    font-family: 'Roboto', sans-serif;

    color: black;
}

body {
    margin: 0%;
}

.Heading {
    background-color: rgba(0, 0, 0, .5);
    background-image: url("codepic.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 0.25%;
    padding-top: 1%;
}

footer {
    margin-top: 2%;
}

footer ul {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0em;
    padding-bottom: 0.5%;
}

footer li {
    list-style-type: none;
}

footer .Group-title {    
    margin-top: 0%;
    padding-top: 0.5%;
    color: black;
}

.List-element {
    color: black;
}

.Title {
    text-align: center;   
    color: white; 
}

.Title-main {
    margin-top: 0%;
    margin-bottom: 0%;
}

.Title-sub {
    margin-top: 0%;
    padding-top: 0%;
}

.Main-nav {
    text-align: center;
}

.Main-nav ul {
    padding-left: 0%;
    padding-right: 0%;    
}

.Main-nav li {
    display: inline;
}

.Main-nav a {
    text-decoration: none;
    color: white;
    padding: .5em;
}

.Main-nav a:hover {
    color: rgb(128, 124, 124);
}

.About {
    padding-left: 2%;
    padding-right: 2%; 
}

.About .Content-text {
    font-size: 150%;
}

.Portfolio {
    padding-left: 2%;
    padding-right: 2%; 
}

.About h2 {
    margin-top: 0%;
}

.Group-title {
    text-align: center;
    color: black;
    margin-left: 0%;
    margin-right: 0%;
}

.Group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Portfolio .Group {
    margin-top: 1%;
    margin-bottom: 1%;
}

.Content-title {
    padding: 0;
    margin: 0;
    margin-left: 2%;
}

.Content {
    max-width: 40%;
}

.Content-text {
    padding: 0;
    margin: 0;
    margin-left: 2%;
}

.Paragraph p {
    padding: 0;
    margin: 0;
}


.About .Picture {
    width: 25%;
    height: 25%;
    padding-right: 15%;
}

.Portfolio .Picture {
    width: 31%;
    height: 31%;
}

.Email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Email input {
    width: 25%;
    margin: 0.5%;
}








