---
---

@import "main";

.table-wrapper>table {
    min-width: 100%;
    overflow-wrap: break-word;
    border-spacing: 0;
}
.table-wrapper {
    min-width: 100%;
    overflow-wrap: break-word;
    border-spacing: 0;
}
